//benpm.mevris.io/:_authToken=${NPM_TOKEN}
registry=https://registry.npmjs.org/
@commi:registry=http://benpm.mevris.io
@mevris:registry=http://benpm.mevris.io
@blueeast:registry=http://benpm.mevris.io
